<table id="posts-index">
  <thead>
    <tr>
      <th width="20%">Date</th>
      <th>Post</th>
    </tr>
  </thead>
  <tfoot>
  </tfoot>
  <tbody>
    {% for post in include.posts %}
    <tr>
      <td valign="top"><h2><span style="display:none;">{{post.date}}</span><small>{{ post.date | date: "%b %-d, %Y" }}</small></h2></td>
      <td valign="top">
        <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        {% if post.excerpt %}<p>{{ post.excerpt | markdownify }}</p>{% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
