---
layout: default
---
<header class="page-header">
<h1>Link: <a href="{{page.source}}">{{ page.title }}</a>{% if page.subtitle %}<small>{{page.subtitle}}</small>{% endif %}</h1>
{{ page.date | date: "%b %-d, %Y" }}
{% if page.author %} &bullet; Author: <a href="{{page.author.url}}">{{ page.author.name }}</a>{% endif %}
{% if page.categories %} &bullet; <ul class="link-list"><li>Categories:</li>{% for cat in page.categories %}<li role="presentation"><a href="{{site.baseurl}}/categories/{{cat}}">{{cat}}</a></li>{% endfor %}{% endif %}</ul>
{% if page.tags %} &bullet; <ul class="link-list"><li>Tags: </li>{% for tag in page.tags %}<li role="presentation"><a href="{{site.baseurl}}/tags/{{tag}}">{{tag}}</a></li> {% endfor %}{% endif %}
</header>

<article>
{{ content }}
</article>
