// Local style variations
// ------------------------------

body {
    padding: 70px 0;
}

.post-excerpt {
    margin: 0 0 10px 0;
    padding: 0;
    height: 100px;
    overflow-y: hidden;
}

blockquote { font-style: $blockquote-font-style ; }

ul.link-list {
    display: inline;
    padding-left: 0px;
    list-style: none;

    li {
        display: inline;
        padding-right: 3px;
    }
}

ul.footer-list {
    list-style: none;
}

img { max-width: 100%; }

.fancy-img {
    max-width: 100%;
    border: 1px solid black;
    padding: 2px;
    display: block;
    margin: 2px auto;
}

footer.footer {
    .well {
        background-color: $body-bg;
    }
}
