---
---

@import url(http://fonts.googleapis.com/css?family=Overlock:900|Lato:300,400,700,300italic,400italic,700italic&subset=latin,latin-ext);

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         darken(#428bca, 6.5%) !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$body-bg: #FAFADE !default;
$blockquote-border-color: $gray-light;

//== Fonts
$font-family-sans-serif: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-size-base: 18px;
$headings-font-family: Overlock, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$blockquote-font-size: $font-size-base !default;
$blockquote-font-style: italic;

//== Elements
$hr-border: #777;
$navbar-inverse-color:                      $gray-lighter !default;
$navbar-inverse-link-color:                 lighten($gray-light, 35%) !default;
$navbar-inverse-bg:                         #420075 !default;
$navbar-inverse-border:                     darken($navbar-inverse-bg, 10%) !default;


@import "bootstrap";
@import "font-awesome";
/* @import "sticky-footer"; */
@import "syntax-highlighting";

blockquote { font-style: $blockquote-font-style ; }

ul.link-list {
    display: inline;
    padding-left: 0px;
    list-style: none;

    li {
        display: inline;
        padding-right: 3px;
    }
}

ul.footer-list {
    list-style: none;
}

img { max-width: 100%; }

.fancy-img {
    max-width: 100%;
    border: 1px solid black;
    padding: 2px;
    display: block;
    margin: 2px auto;
}

footer.footer {
    .well {
        background-color: $body-bg;
    }
}