<hr />

<footer class="footer">

  <div class="well">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <ul class="footer-list">
            <li><a href="//github.com/{{site.github_username}}">github <i class="fa fa-github"></i></a></li>
            <li><a href="//twitter.com/{{site.twitter_username}}">twitter <i class="fa fa-twitter"></i></a></li>
            <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">subscribe (RSS) <i class="fa fa-rss"></i></a></li>
            <li><a href="{{ "/colophon/" | prepend: site.baseurl }}">Colophon</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="footer-list">
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="footer-list">
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="footer-list">
          </ul>
        </div>
      </div>
    </div> 
  </div>

</footer>
