<aside class="sidebar">

  <header>
    <nav id="" class="" role="navigation">
      <div class="container-fluid">
        <div class="">
          <h2><a class="" href="{{ site.baseurl}}/">{% if site.title %}{{site.title}}{% else %}New Site{% endif %}</a></h2>
        </div>
        <div id="" class="">
          <ul class="">
            {% for link in site.data.navbar-links  %}
            <li><a href="{{ link.href | prepend: site.baseurl }}">{{ link.text }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <footer id="" class="" role="navigation">
    <div class="container-fluid">
      <div class="">
        <a class="" href="http://www.tamouse.org">&copy; {{site.time | date: "%Y"}} {% if site.author %}{{site.author}}{% else %}Site Author{% endif %}</a>
      </div>
      <div id="" class="">
        <ul class="">
          <li><a href="//github.com/{{site.github_username}}">github <i class="fa fa-github"></i></a></li>
          <li><a href="//twitter.com/{{site.twitter_username}}">twitter <i class="fa fa-twitter"></i></a></li>
          <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">subscribe (RSS) <i class="fa fa-rss"></i></a></li>
          <li><a href="{{ "/pages/colophon/" | prepend: site.baseurl }}">Colophon</a></li>
        </ul>
      </div>
    </div>
  </footer>
</aside>
